# Database connection URL (PostgreSQL / Neon)
DATABASE_URL="postgresql://username:password@host/dbname?sslmode=require"

# NextAuth Configuration
NEXTAUTH_SECRET="your_nextauth_secret_key_minimum_32_chars"
AUTH_SECRET="your_nextauth_secret_key_minimum_32_chars"
NEXTAUTH_URL="http://localhost:3000"
NEXT_PUBLIC_APP_URL="http://localhost:3000"

# SMTP Email Configuration
SMTP_HOST="smtp.gmail.com"
SMTP_PORT=587
SMTP_USER="aamrule90@gmail.com"
SMTP_FROM="aamrule90@gmail.com"
SMTP_PASSWORD="ggftvwetddreuwlz"
ADMIN_EMAIL="aamrule90@gmail.com"

# Razorpay Keys
NEXT_PUBLIC_RAZORPAY_KEY_ID="rzp_test_xxxx"
RAZORPAY_KEY_ID="rzp_test_xxxx"
RAZORPAY_KEY_SECRET=""
RAZORPAY_WEBHOOK_SECRET=""

# Environment details
NODE_ENV="development"
NEXT_PUBLIC_API_URL="http://localhost:3000"
